In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv("data/einkommen.train",delimiter=",",header=None)
data.columns = ["Age","Employment_Type","Weighing_Factor","Education_Level","Schooling","Marital_Status","Employment_Area","Partnership","Ethnicity","Gender","Gains_FA","Loss_FA","Working_Time","Country_of_Birth","Income"]
data.head()

,Age,Employment_Type,Weighing_Factor,Education_Level,Schooling,Marital_Status,Employment_Area,Partnership,Ethnicity,Gender,Gains_FA,Loss_FA,Working_Time,Country_of_Birth,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               30000 non-null  int64
 1   Employment_Type   30000 non-null  object
 2   Weighing_Factor   30000 non-null  int64
 3   Education_Level   30000 non-null  object
 4   Schooling         30000 non-null  int64
 5   Marital_Status    30000 non-null  object
 6   Employment_Area   30000 non-null  object
 7   Partnership       30000 non-null  object
 8   Ethnicity         30000 non-null  object
 9   Gender            30000 non-null  object
 10  Gains_FA          30000 non-null  int64
 11  Loss_FA           30000 non-null  int64
 12  Working_Time      30000 non-null  int64
 13  Country_of_Birth  30000 non-null  object
 14  Income            30000 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.4+ MB

In [26]:
data.describe().round(2)

            Age  Weighing_Factor  Schooling  Gains_FA   Loss_FA  Working_Time
count  30000.00         30000.00   30000.00  30000.00  30000.00      30000.00
mean      38.58        189767.51      10.08   1091.69     86.62         40.43
std       13.65        105442.01       2.57   7467.39    401.53         12.31
min       17.00         12285.00       1.00      0.00      0.00          1.00
25%       28.00        117833.00       9.00      0.00      0.00         40.00
50%       37.00        178478.00      10.00      0.00      0.00         40.00
75%       48.00        236938.50      12.00      0.00      0.00         45.00
max       90.00       1484705.00      16.00  99999.00   4356.00         99.00

In [21]:
data_w_income = data[data.Income != " ?"]
data_no_income = data[data.Income == " ?"]
print("Data with Income: ",len(data_w_income))
print("Data without Income: ",len(data_no_income))

Data with Income:  5000
Data without Income:  25000

In [25]:
data_w_income.Income.unique()

array([' <=50K', ' >50K'], dtype=object)